body{
    scroll-behavior: smooth;
    font-family: 'Dosis', sans-serif;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: white ;
  animation: loader 0.01s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 1000000;
  display:flex;
  align-items:center;
  justify-content:center;
}

.animated_logo img{
  width: 150px;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}   

.logo-carbone{
    width: 80px;
}

.english-flag{
    width: 40px;
    transition: all 0.3s ease-in-out;
}

.english-flag:hover{
    transform: scale(1.3);
}



/*test nav*/ 

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }
  
  nav > ul {
    display: flex;
    text-align: center;
   
  }
  
  nav ul {
    list-style-type: none;
    height: 100px;
  }
  
  nav > ul > li {
    position: relative;
    flex: 2;
  }
  
  nav > ul > li:hover > a{
    color: #50BEA8;
  }
  
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: #264653;
    font-size: 1.4em;
    font-weight: 600;
  }

  .active{
    background: #264653;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    margin-right: -120px;
    transition: all 0.2s ease-in-out;
}

.active:hover{
    background: #50BEA8;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    margin-right: -120px;
}
  .menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .sous-menu {
    margin-top: 85px;
    width: 95%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 14px;
    background-color: #264653;
  }
  
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
    margin-left: 15px;
    padding: 0;
  }
  
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      /* border-top: 3px solid #50BEA8; */
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      /* border-top: 3px solid #264653; */
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  
  .sous-menu > li:hover {
    background-color: #264653
  }
  
  .sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
    color: #fff;
  }
  
  .sous-menu > li:hover > a {
    color: white;
    background-color: #50BEA8;
  }


  /* Fin test nav */

.accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    column-gap: 100px;
    margin-top: 100px;
}

.text-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

h1{
    font-size: 3em;
    color: #222222;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    font-weight: 800;
}
.orange{
  background: linear-gradient(to right, #f9af2e, #FF7600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accueil p{
    color: #275C62;
    font-size: 1.5em;
}

button{
    background: #FF7600;
    border: none;
    padding: 15px 0px;
    color: #fff;
    border-radius: 50px;
    font-size: 1.4em;
    font-family: 'Dosis';
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30%;
    box-shadow: 0px 12px 33px rgb(14,49,178,0.1);
}

button:hover{
    background: #275C62;
    color: #fff;
    box-shadow: 0px 12px 33px rgb(14,49,178,0.1);
}

.trio{
  margin-top: 100px;
  padding: 0 100px;
}

.display-trio{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.mesurer{
  width: 20%;
  min-width: 300px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 100px;
}

.mesurer:hover{
  transform: scale(1.2);
}

.mesurer img{
  margin-bottom: -50px;
}

.mesurer:hover .mesurer-texte{
  background-color:#264653;
  color: #fff;
}

.mesurer-texte{
  background-color: rgb(245, 245, 245);
  height: 160px;
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(192, 192, 192, 0.76); 
  box-shadow: 0px 12px 33px rgb(14,49,178,0.1);
  font-size: 1.3em;
  transition: all 0.2s ease-in-out;
}

.mesurer-texte:hover {
  background-color:#264653;
  color: #fff;
  height: 160px;
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(54,54,54,0.76); 
  box-shadow: 0px 0px 20px -2px rgba(54,54,54,0.46);
  font-size: 1.3em;
}

.mesurer-texte h3{
  height: 10px;
}

.diagnostiquer{
  width: 20%;
  min-width: 300px;
}

.agir{
  width: 20%;
  min-width: 300px;
}